.post-list-filter {
  padding: .5em;
}

.post-list-filter__row {
  width: 100%;
  display: flex;
  align-items: center;
}

.post-list-filter__input {
  background-color: #666;
  border: solid 2px #666;
  color: #f1f1f1;
  height: calc(2em - 4px);
  box-sizing: border-box;
  margin: 0;
  outline: none;
  flex: 1 1 auto;
}

.post-list-filter__reset {
  width: 2em;
  height: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;

  &:hover {
    background-color: #444;
  }
}
