@import '../mixins';

.post-details {
  @include box();
  flex: 1 1 1000px;
  height: 100%;
  margin-left: .25em;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.post-details-content {
  height: 100%;
  width: 100%;
  overflow: auto;
}
