@import '../mixins';

.post-details {
  @include box();
  flex: 1 1 1000px;
  height: 100%;
  margin-left: .25em;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.post-details-content {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.post-details-info {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 250ms;
  padding: 2em 2em 0 0;

  &:hover {
    opacity: 1;
  }
}

.post-details-info-content {
  @include box();
  background-color: #555;
  border-bottom-left-radius: .25em;
}
