.post-list-container {
  height: 100%;
  overflow: auto;
  width: 200px;
  flex: none;
  display: flex;
  flex-direction: column;
}


.post-list {
  flex-grow: 1;
  
  .ReactVirtualized__List {
    outline: none;
  }
}
