.post-item {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  padding: 0 3px;
  box-sizing: border-box;

  &:hover {
    background-color: #f1f1f1;
  }

  &.is-active {
    background-color: #def;
  }
}
